.loginpage {
    width: 40%;
    margin: 50px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #E7EEEA;
}

.form_login {
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    background: rgba(68, 66, 66, 0.1);
}

.form_login h4 {
    padding: 20px;
    font-size: 30px;
}

.type-input {
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    position: relative;
}

.type-input input {
    padding: 8px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}

::placeholder {
    color: gray;
    padding-left: 10px;
}

.button_submit {
    width: 50%;
    margin: 40px auto;

}

.miss {
    width: 95%;
    text-align: right;

}

.miss a {
    text-decoration: none;
}

.miss a:hover {
    color: blue;
}

.button_submit button {
    color: white;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #b4697b, #add8e6);

}

.cant_member {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    text-align: left;
}