.modal-loading{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}

.resend-email{
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}
